image: node:lts


before_script:
  - npm ci

pages:
  publish: dist
  script:
    - npm run build
  artifacts:
    paths:
      - dist
  rules:
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
    - when: manual
      if: $CI_COMMIT_REF_NAME != $CI_DEFAULT_BRANCH
