.with-button {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

form {
    width: 100%;
}

// Fix mat-form-field height to properly display text in dropdown and input
:host ::ng-deep {
    .mat-mdc-form-field {
        .mat-mdc-text-field-wrapper {
            min-height: 56px;
        }

        .mat-mdc-form-field-infix {
            min-height: 48px;
            padding-top: 12px;
            padding-bottom: 12px;
        }

        input.mat-mdc-input-element {
            line-height: 24px;
        }

        .mat-mdc-select {
            line-height: 24px;
        }

        .mat-mdc-select-value {
            line-height: 24px;
        }
    }
}