.list-item {
    border-bottom: 1px solid #e0e0e0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.date {
    font-weight: bold;
}

.title {
    color: #007bff;
    cursor: pointer;
}

.iri {
    font-size: 10px;
}

.list-item:hover .title {
    text-decoration: underline;
}

.description {
    overflow-y: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    max-height: 48px;
    min-height: 48px;
}